<form action="/payment/results">
  <div>
    <label for="input_apr">APR</label>
    <input type="number" step=any id="input_apr" name="apr" placeholder="6.35"></input>%
    <br>
    <label for="input_years">Number of years</label>
    <input type="number" id="input_years" name="years" placeholder="How many years to repay?"></input>
    <br>
    <label for="input_principal">Principal</label>
    <input type="number" id="input_principal" name="principal" placeholder="How much principal?"></input>
  </div>

  <button>Calculate monthly payment</button>
</form>
