<form action="/random/results">
  <div>
    <label for="input_minimum">Minimum</label>
    <input type="number" step=any id="input_minimum" name="minimum" placeholder="1.5"></input>
    <br>
    <label for="input_maximum">Maximum</label>
    <input type="number" step=any id="input_maximum" name="maximum" placeholder="4.5"></input>
  </div>

  <button>Pick random number</button>
</form>
