<form action="/square/results">
  <div>
    <label for="input_number">Enter a number</label>
    <input type="number" step=any name="number" id="input_number" placeholder="What number do you want to take the square of?">
  </div>
  <button>Calculate square</button>
</form>
